<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Sample Test Suite" preserve-order="true">
	<listeners>
		<listener class-name="main.java.utils.SuiteListener" />
	</listeners>
	<test name="Clase Automation QA">
		<parameter name="browserName" value="chrome" />
		<classes>
			<class name="test.java.carritocompras.DemoWebShopTest" /> <!-- Ruta de la clase test -->
		</classes>
	</test>
</suite>