<configuration>
	<!-- Configuración del appender (destino de los logs) -->
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- Configuración de las categorías de registro -->
	<root level="info">
		<appender-ref ref="CONSOLE" />
	</root>
</configuration>
